In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv('Financial Train.csv')

In [3]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [4]:
train.shape

(23524, 13)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [6]:
train.drop(columns='uniqueid', inplace=True)

In [7]:
train.drop(columns='relationship_with_head', inplace=True)

In [8]:
train.drop(columns='household_size',inplace=True)

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country               23524 non-null  object
 1   year                  23524 non-null  int64
 2   bank_account          23524 non-null  object
 3   location_type         23524 non-null  object
 4   cellphone_access      23524 non-null  object
 5   age_of_respondent     23524 non-null  int64
 6   gender_of_respondent  23524 non-null  object
 7   marital_status        23524 non-null  object
 8   education_level       23524 non-null  object
 9   job_type              23524 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.8+ MB

In [10]:
train['bank_account'].value_counts()

No     20212
Yes     3312
Name: bank_account, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder,LabelBinarizer

In [12]:
lab_inc=LabelEncoder()

In [13]:
df=train

In [14]:
df['bank_account']=lab_inc.fit_transform(df['bank_account'])

In [15]:
df['location_type']=lab_inc.fit_transform(df['location_type'])

In [16]:
df['cellphone_access']=lab_inc.fit_transform(df['cellphone_access'])

In [17]:
df['country']=lab_inc.fit_transform(df['country'])

In [18]:
df['gender_of_respondent']=lab_inc.fit_transform(df['gender_of_respondent'])

In [19]:
df['marital_status']=lab_inc.fit_transform(df['marital_status'])

In [20]:
df['education_level']=lab_inc.fit_transform(df['education_level'])

In [21]:
df['job_type']=lab_inc.fit_transform(df['job_type'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country               23524 non-null  int32
 1   year                  23524 non-null  int64
 2   bank_account          23524 non-null  int32
 3   location_type         23524 non-null  int32
 4   cellphone_access      23524 non-null  int32
 5   age_of_respondent     23524 non-null  int64
 6   gender_of_respondent  23524 non-null  int32
 7   marital_status        23524 non-null  int32
 8   education_level       23524 non-null  int32
 9   job_type              23524 non-null  int32
dtypes: int32(8), int64(2)
memory usage: 1.1 MB

In [62]:
test=pd.read_csv('Financial Test.csv')

In [26]:
test.head()

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_6056,Urban,Yes,3,30,Male,Head of Household,Married/Living together,Secondary education,Formally employed Government
1,Kenya,2018,uniqueid_6060,Urban,Yes,7,51,Male,Head of Household,Married/Living together,Vocational/Specialised training,Formally employed Private
2,Kenya,2018,uniqueid_6065,Rural,No,3,77,Female,Parent,Married/Living together,No formal education,Remittance Dependent
3,Kenya,2018,uniqueid_6072,Rural,No,6,39,Female,Head of Household,Married/Living together,Primary education,Remittance Dependent
4,Kenya,2018,uniqueid_6073,Urban,No,3,16,Male,Child,Single/Never Married,Secondary education,Remittance Dependent

In [27]:
test.shape

(10086, 12)

In [28]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 10086 non-null  object
 1   year                    10086 non-null  int64
 2   uniqueid                10086 non-null  object
 3   location_type           10086 non-null  object
 4   cellphone_access        10086 non-null  object
 5   household_size          10086 non-null  int64
 6   age_of_respondent       10086 non-null  int64
 7   gender_of_respondent    10086 non-null  object
 8   relationship_with_head  10086 non-null  object
 9   marital_status          10086 non-null  object
 10  education_level         10086 non-null  object
 11  job_type                10086 non-null  object
dtypes: int64(3), object(9)
memory usage: 945.7+ KB

In [29]:
test.drop(columns='uniqueid', inplace=True)

In [30]:
test.drop(columns='relationship_with_head', inplace=True)

In [31]:
test.drop(columns='household_size',inplace=True)

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country               10086 non-null  object
 1   year                  10086 non-null  int64
 2   location_type         10086 non-null  object
 3   cellphone_access      10086 non-null  object
 4   age_of_respondent     10086 non-null  int64
 5   gender_of_respondent  10086 non-null  object
 6   marital_status        10086 non-null  object
 7   education_level       10086 non-null  object
 8   job_type              10086 non-null  object
dtypes: int64(2), object(7)
memory usage: 709.3+ KB

In [33]:
test['location_type']=lab_inc.fit_transform(test['location_type'])

In [34]:
test['cellphone_access']=lab_inc.fit_transform(test['cellphone_access'])

In [35]:
test['gender_of_respondent']=lab_inc.fit_transform(test['gender_of_respondent'])

In [36]:
test['country']=lab_inc.fit_transform(test['country'])

In [37]:
test['marital_status']=lab_inc.fit_transform(test['marital_status'])

In [38]:
test['education_level']=lab_inc.fit_transform(test['education_level'])

In [39]:
test['job_type']=lab_inc.fit_transform(test['job_type'])

In [40]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country               10086 non-null  int32
 1   year                  10086 non-null  int64
 2   location_type         10086 non-null  int32
 3   cellphone_access      10086 non-null  int32
 4   age_of_respondent     10086 non-null  int64
 5   gender_of_respondent  10086 non-null  int32
 6   marital_status        10086 non-null  int32
 7   education_level       10086 non-null  int32
 8   job_type              10086 non-null  int32
dtypes: int32(7), int64(2)
memory usage: 433.5 KB

In [41]:
ss=pd.read_csv('SampleSubmission.csv')

In [42]:
ss.head()

  Customer Id  Claim
0          H0      1
1      H10000      1
2      H10001      1
3      H10002      1
4      H10003      1

In [43]:
ss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3068 entries, 0 to 3067
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer Id  3068 non-null   object
 1   Claim        3068 non-null   int64
dtypes: int64(1), object(1)
memory usage: 48.1+ KB

In [44]:
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [45]:
X=train.drop('bank_account', axis=1)
y=train['bank_account']

In [46]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2,random_state=125)

In [47]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(18819, 9)
(4705, 9)
(18819,)
(4705,)

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
randomforestmodel= RandomForestClassifier()

In [50]:
randomforestmodel.fit(X_train,y_train)

RandomForestClassifier()

In [51]:
randomforestmodel.predict(X_test)

array([0, 0, 0, ..., 0, 0, 1])

In [52]:
RFM=randomforestmodel.predict(X_test)

In [53]:
from sklearn.metrics import accuracy_score

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
RFM_prediction=randomforestmodel.predict(X_test)

In [56]:
RandomF=randomforestmodel.predict(test)

In [60]:
test

,country,year,location_type,cellphone_access,age_of_respondent,gender_of_respondent,marital_status,education_level,job_type
0,0,2018,1,1,30,1,2,3,2
1,0,2018,1,1,51,1,2,5,3
2,0,2018,0,0,77,0,2,0,8
3,0,2018,0,0,39,0,2,2,8
4,0,2018,1,0,16,1,3,3,8
...,...,...,...,...,...,...,...,...,...
10081,3,2018,0,0,62,0,2,2,9
10082,3,2018,1,1,42,1,2,2,9
10083,3,2018,1,1,39,1,3,3,7
10084,3,2018,0,1,28,0,2,2,9
10085,3,2018,1,1,16,1,3,3,7

In [65]:
test.columns

Index(['country', 'year', 'uniqueid', 'location_type', 'cellphone_access',
       'household_size', 'age_of_respondent', 'gender_of_respondent',
       'relationship_with_head', 'marital_status', 'education_level',
       'job_type'],
      dtype='object')

In [66]:
a = {'uniqueid': test['uniqueid'] + ' x ' + test['country'], 'bank account': RandomF}

In [67]:
DataFrame=pd.DataFrame(a)

In [68]:
DataFrame.to_csv('randomF.csv', index=False)